/* SPACING-SYSTEM (PX): 
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (PX):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

COLORS:
MAIN COLOR: 
GREY COLOR: #555
 */

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body{
    background-color: #ffc078;
    color: #302a2a;
 }

 .hero-nav ul{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    list-style: none;
    padding: 64px;

    li a{
      color: #f03e3e;
      font-size: 24px;
      text-decoration: none;
    }
    
 }
 .header{
    font-size: 30px;
    margin-bottom: 32px;
 }

 .lorem{
margin-bottom: 64px;
}

 .section{
    width: 300px;
 }

 .container{
   max-width: 600px;
   margin: 0 auto;
 }

 .secondary-header{
    margin-bottom: 32px;
 }

 .footer-container{
   display: flex;
   flex-direction: column-reverse;
 }





